<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}"/>
    <title>승객만으로 운영되는 무인버스</title>

</head>
<body>

        <div class="loader"></div>
        <h1 class = "headtitle">[ 점자 번역 프린터 ]</h1>
        <h2 class = "subtitle">- 시각 장애인을 위한 한/영 변환이 가능한 점자 프린터 제작 -</h2>
        <button class ="we" onclick="openPopup()">Who We Are...?</button>


        <div id="popup" class="popup">
        <span class="close" onclick="closePopup()">&times;</span>
            <h3 class="who">Who We Are...?</h3>
            <h1 class="school"><strong>숭실대학교 컴퓨터학부</strong></h1>
            <p style="font-size:20px">2조 : 승객만으로 운행되는 무인버스</p><br>
            <div class = "text" style="font-size:20px">학번 : 20231458 이름 : 김재원 &nbsp;&nbsp;학번 : 20232879 이름 : 문근<br><br>학번 : 20232883 이름 : 백종원 &nbsp;&nbsp;학번 : 20231480 이름 : 윤석주<br><br>학번 : 20231482 이름 : 이민재 &nbsp;&nbsp;학번 : 20231496 이름 : 최원석</div>

        </div>

<!-- 오버레이 -->
<div id="overlay" class="overlay" onclick="closePopup()"></div>
<form method="post">
        <section class="select-lang">
            <div class="selcet_input" name="source_language">
                <p>입력할 언어를 선택해 주세요</p>
                <div class="dropdown">
                    <div class="select">
                        <span class="selected" id="selectedSourceLanguage">한국어</span>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <li class="active" onclick="selectLanguage('ko', 'source')">한국어</li>
                        <li onclick="selectLanguage('en', 'source')">영어</li>
                    </ul>
                    <input type="hidden" name="source_language" id="sourceLanguageInput" value="ko">
                </div>
            </div>
            <div class="selcet_output" name="target_language">
                <p>번역될 언어를 선택해 주세요</p>
                <div class="dropdown">
                    <div class="select">
                        <span class="selected" id="selectedTargetLanguage">영어</span>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <li onclick="selectLanguage('ko', 'target')">한국어</li>
                        <li class="active" onclick="selectLanguage('en', 'target')">영어</li>
                    </ul>
                    <input type="hidden" name="target_language" id="targetLanguageInput" value="en">
                </div>
            </div>
        </section>
        <section class="box">
            <div class="input">
                <label for="input_text">
                    <textarea placeholder="번역할 내용을 입력하세요." id="input_text" name="input_text" rows="10" cols="50" required>{{ input_text }}</textarea>
                </label>
                <input class="trans_button" type="submit" name="trans_button" value="Translate">
            </div>
            <div class="output">
                <label for="output_text">
                    <textarea placeholder="번역 결과" id="output_text" name="output_text" rows="10" cols="50" required>{{ translated_txt }}</textarea>
                </label>
                <button class="copy_button" onclick="copyToClipboard()">복사하기</button>
                <input class="print_button" type="submit" name="print_button" value="Braille_Print">
            </div>
        </section>
    </form>
    <section class = "read">
        <div class = "motive">
            <br>
            <h2> 개발 동기 </h2>
            <button class="accordion" onclick="toggleAccordion('motivation1')">1. 점자프린터기에 대한 접근성이 낮다 👈눌러보세요!</button>
        <div id="motivation1" class="panel">
            <p>시각장애인들이 글을 접해야 할 때 대부분은 점자 출력물이 아니기에 어려움을 겪는다. 그래서 시각장애인들을 위해 점자로 표현하고 싶어도 주변에 시각장애인이 있지 않는 이상 점자 프린터기가 없어 표현하기 힘든 현실이다. </p>
        </div>

        <button class="accordion" onclick="toggleAccordion('motivation2')">2. 시중에 시각장애인을 위한 대체자료 제작률은 매우 낮다.👈눌러보세요!</button>
        <div id="motivation2" class="panel">
            <p>전공 책, 일반 서적 등 연간 수많은 도서들이 출판되고 있지만 시각장애인에게는 빈 종이나 다름없다. 시각장애인은 텍스트가 아닌 점자 체계로 이루어진 대체재 작물이 필요하다. 물론 대체자료도 만들어지고 있다. 하지만 전체 도서의 15% 이하로 매우 낮은 수치이다.</p>
        </div>

        <button class="accordion" onclick="toggleAccordion('motivation3')">3.일반인들 보다 언어의 장벽이 높다.👈눌러보세요!</button>
        <div id="motivation3" class="panel">
            <p>언어가 한국어이면 한국어에 맞는 점자 체계가 있고 언어가 영어이면 영어에 맞는 점자 체계가 있다. 이 말은 즉 한국어 점자 체계를 공부해도 영어를 기반으로 만들어진 점자는 읽지 못한다는 것이다. 예를 들어 한국어를 공부하고 싶은 영어권 시각장애인 학생과 영어로 이루어진 전공 책을 읽고 싶은 한국인 시각장애인 학생이 있다고 해보자. 영어권 시각장애인 학생은 한국어를 공부하기 위해 일반 학생처럼 영어 → 한국어만 공부하는 것 이 아니라. 영어 → 영어 점자 체계 → 한국어 → 한국어 점차 체계 식으로 공부해야 한다. 또, 한국인 시각장애인 학생은 단순하게 번역을 돌리는 것이 아닌 영어 → 한국어 → 점자 체계로 한 번 더 과정을 거쳐야 한다.</p>
        </div>

            <br><br>

        </div>
        <div class = "use">
            <br>
            <h2> 사용 방법 </h2>
            1. 입력할 언어(한국어, 영어) 와 변역시키고 싶은 언어를 선택한다(한국어, 영어)
            <br><br>
            2. 입력창에 텍스트를 입력하고 “ Translat “ 버튼을 누른다.
            <br><br>
            3. 오른쪽 번역창에 번역된 언어가 뜨면 텍스트를 확인하고(수정 가능) “Braille_Print” 버튼을 누른다.
            <br><br>
            4. 점자체계 변환 및 전송이 완료될 때까지 기다린다. (로딩)
            <br><br><br><br>

        </div>

    </section>
    {#    <p>  <br>{{ translated_txt }}<br> </p>#}
    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</body>
</html>